{% extends "base.html" %}

{% block titulo %}Resultado de búsqueda {% endblock %}

{% block contenido %}
<p style="color: gray;">índice > sesion de {{usuario.capitalize()}} > buscar > {{producto_query}}</p>
<h2>Resultados para = "{{producto_query}}"</h2>


{% if resultados %}
    <ul>
        {% for p in resultados %}
            <strong>{{p.name}}</strong> - {{p.category}} - ${{p.price}}  
        {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron productos.</p>
{% endif %}

<form action="/sesion" method=""get>
    <button type="submit">Buscar otro podructo</button>
    <br><br>
</form>
<form action="/login" method=""get>
    <button type="submit">volver al login</button>
</form>

{% endblock %}