{% extends "base.html" %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<p style="color: gray;">índice</p>
<h1>PÁGINA HOME "/"</h1>
<a href="{{url_for('usuarios.login')}}" style="font-weight: bolder; font-size: medium;">GO TO LOGIN </a><span> ⬅️</span>
<br><br>


<p>Prueba sencilla del post 😆</p>
<form action="/procesar" method="post">
    <label>Producto: </label>
    <input type="text" name="producto">
    <br><br>

    <label>Categoria: </label>
    <input type="text" name="categoria">
    <br><br>

    <label>Precio: </label>
    <input type="text" name="precio">
    <br><br>

    <input type="submit" value="Enviar">
</form>



{% endblock %}